@font-face {
    font-family: 'Muller-Bold';
    src: url("../fonts/Muller/MullerBold.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'MullerMedium';
    src: url("../fonts/Muller/MullerMedium.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'Muller-Extra-Bold';
    src: url("../fonts/Muller/MullerExtraBold.otf") format("opentype");
    font-weight: 800;
}
@font-face {
    font-family: 'MullerRegular';
    src: url("../fonts/Muller/MullerRegular.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'MullerLigth';
    src: url("../fonts/Muller/MullerLight.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyrl';
    src: url("../fonts/Museo Cyrl 500.ttf") format("ttf");
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Muller', 'Arial', sans-serif;
}

button:active, button:focus{
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    text-decoration: none;
    background-color: transparent;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Times New Roman", Arial;
    line-height: 1.15;
}

.content-module{
    width: 100%;
    height: 100vh;
    background: url(../img/fon-texnologyо.png) no-repeat fixed;
    /* background-position: right; */
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background-size: 100% 100% ;

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

/*@media (min-width: 576px) {*/
/*    .container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .container {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.headercontent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.logo-wrapper{
    display: flex;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 12em;
    padding-top: 1em;
    margin-bottom: 1em
}

.logo{
    display: inline;
    margin-right: 0.5em;
    font-family: 'Muller-Bold';
    font-size: 2.0em;
    text-transform: uppercase;
}
.logo-text{
    width: 161px;
    margin-left: 0.5em;
    font-family: 'Muller-Bold';
    font-size: 1.0em;
}
.headercontent__contact{
    width: 30%;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 3em;
    padding-bottom: 0.8em;
    padding-left: 45px;
    font-family: 'Muller-Bold';
    font-weight: 700;
    font-size: 1.0em;
    background-image: url(../img/iconPhon.png);
    background-repeat: no-repeat
}
.contact-link{
    font-family: 'Muller-Extra-Bold';
    font-size: 1.0em;
    color: black;
}
.contact-text{
    display: block;
    margin: 0 0.5em;
    font-size: 0.7em;
    color: black;
}
.contentmain{
    position: fixed;
    top: 15%;
    left: 23%;
    z-index: 1;
}
.content-technology{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 3em;
}
.contentmain__subtitle{
    text-transform: uppercase;
    font-size: 2.0em;
    font-weight: 900;
    margin-left: 0.1em;
    margin-right: 15em;
    margin-top: 2em;
    line-height: 1.2;
}
.content-technology__item{
    margin: 1em;
    flex: 1 0 40%;
}

.thechoice-technology{
    display: block;
    float: left;
    margin-right: 3em;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}
.on-site-developers{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}
.on-site-developers__item{
    width: 148%;
    height: 34px;
    text-align: center;
    padding-top: 1em;
    font-family: 'MullerMedium';;
    font-size: 1.0em;
    background-image: url(../img/placeholder.png);
    background-repeat: no-repeat;
    background-position-x: 1%;
    background-position-y: 4%
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.lite-orange-check {
    background-image: url(http://csscheckbox.com/checkboxes/lite-orange-check.png);
}
.name-technology{
    width: 55%;
    margin-left: 3em;
}
.text-technology{
    width: 80%;
    margin-left: 3em;
    margin-top: 2em;
    text-align: left;
    font-family: 'MullerLigth';
}
.wrapper{
    position: relative;
}
.navigation{
    width: 60%;
    margin-top: 2em;
    text-align: end;
}
.proger{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.worker__photo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100vw - 62%);;
}
.worker__contacts{
    position: absolute;
    bottom: 0;
    right: 13em;
    width: calc(100vw - 80%);
    height: 9em;
    text-align: center;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    background: #140f0f;
}
.worker-link{
    display: block;
    width: 45%;
    margin: 0 auto;
    padding-left: 6em;
    padding-top: 3em;
    text-align: left;
    color: white;
    background-image: url(../img/Phone-technology.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 29%;
    background-position-y: bottom;
}
.worker-name{
    padding-top: 1em;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Museo Cyrl'
}
.navigation__count{
    display: inline-block;
    font-size: 1.3em;
    margin-top: 0.5em;
}
.active{
    font-size: 1.7em;
    font-weight: 500;
    color: black;
}
.contentmain__btn{
    width: 32%;
    height: 4em;
    padding: 1em;
    margin-right: 9em;
    margin-left: 2em;
    float: right;
    border-radius: 4em;
    border: none;
    overflow: hidden;
    background-color: #1f0f00;
    color: white;
    font-size: 1em;
    font-weight: 600;
}

